.logo
{
    max-height: 2.1em;
    margin-top: 8px;
    transition: all .5s;
     //-ms-transform: rotate(-10deg) translate(0px,0px);; /* IE 9 */
    //-webkit-transform: rotate(-10deg) translate(0px,0px);; /* Chrome, Safari, Opera */
    //transform: rotate(-10deg) translate(25px,0px);;
}

.logo:hover
{
    -ms-transform: rotate(10deg) translate(-25px,0px);; /* IE 9 */
    -webkit-transform: rotate(10deg) translate(-25px,0px);; /* Chrome, Safari, Opera */
    transform: rotate(10deg) translate(-25px,0px);;
}

.navbar-brand {
    padding-top: 0px;
}
.navbar{
 //   margin-bottom: 0px;
}
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
}
.navbar-default {
    background-color: #35404F;
    border-top: 4px solid #E45F56;
    //border-left:  2px solid #E45F56;
    border-bottom: 1px solid #29ABA4;
}
.navbar-default .navbar-nav > li > a{
    color: whitesmoke;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #29ABA4;  
}
.navbar-default .navbar-nav > li > a:focus{
    color: #E7E7E7 !important;  
}
.dropdown-menu {
    background-color: #29ABA4;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: whitesmoke;
    background-color: #29ABA4;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #29ABA4;
    text-decoration: none;
    //background-color: #35404F;
    //font-size: 16px;
    //font-weight: bold;
    border-left: 5px solid #E45F56; 
    padding-left: 15px;
}
.dropdown-menu >li >a {
    color: whitesmoke;
}
.btn-success {
    color: whitesmoke;
    background-color: #29ABA4;
    border-color:#29ABA4 ;
}
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #E45F56;
    background-color: #35404F;
    border-color:#35404F ;
}
.form-control:focus {
    border-color: whitesmoke;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #29ABA4;
}
.table > thead > tr > th {
    border-bottom: 2px solid #29ABA4;
}
#main, #main>.row {
    height:100%;
}
#left {
    height:100%;
    overflow-y:scroll;
}
#map-canvas {
    width:33.3333%;
    height:calc(100% - 0);
    position:absolute;
    right:0;
    top:50px;
    bottom:0;
}
h4{
    color: #29ABA4;
}
.outer-section {
     border:1px solid #dedede;
     background-color: #fff;
}
.pad-top {
    padding-top:30px;
}
.pad-bottom {
     padding-bottom:50px;
}
.checkLable {
    margin-right: 10px;
    margin-left: 5px;
}
.blockSpan{
    display: inline-block;
}
.line-form-hack td {
    padding-right: 10px;
    padding-top: 10px;
}

.loginBG {
    background-image: url("../images/car.jpg");
    background-position: center center;
    background-size: cover;
}
.loginPanle {
    margin-top: 100px;
    margin-bottom: 100px;
}

.loginPanle > .panel {
    color:#fff;
    background: transparent;
    border: none;
}
.loginPanle  .panel-heading {
    color:#fff;
    background: transparent;
    border: none;
}

.dropdownFix {
    background-color: #fff;
}
.dropdownFix > li > a {
    color: #000;
}
.no-border-btn{
    border: none;
}

.per70{
    width:70%;
}
.per60{
    width:60%;
}
.per50{
    width:50%;
}
.per40{
    width:40%;
}
.per20{
    width:20%;
}

.dashboard-container {
    padding: 0 10px 0 10px;
}
.chart {
    width: 100%;
}
#myChart2 {
    padding-left: 50px; 
}
.charts {
    margin-top: 10%;
}
.font25{
    font-size: 25px;
}
.chart-con-div{
    min-height: 500px;
}
#chart-div {
    width: 100% !important;
    //height: 100% !important;
}
//////////////////////////////code for multi drop down



.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    position:absolute;
    top: -2%;
    left: 99%;
    margin-top: -0px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
    z-index: 50;
    height: 100%;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    top:-50%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/////////////////////////////////////
