
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
}

.inforcewidth
{
    max-width: 95% !important;
    margin-left: 2%;
}

.sidenotification
{
    border-left: medium dashed rgb(227, 24, 55);
}
.logo
{
    max-height: 2.1em;
}
.navbar-inverse {
    background-color: #0393A6;
    border-color: #FA6F5D;
}
.navbar-brand 
{
padding-top: 0;
}


.navbar-default .navbar-nav > li > a
{
    color: #000;
}

.navbar-default .navbar-nav > li > a:hover
{
    color: #12E1FC;
}
.navbar-default {
    background-color: #0393A6;
    border-color: white;
}
.navbar-default .navbar-nav > li > .active
{
        color: #E31836;

}
p{
    color: white;
    font-family: sans-serif;
    color: #000;
}
p:hover,p:focus{
    color: #FA6F5D;
    font:bold;
/*    text-decoration: underline;*/
   
}

.nav > ul > li:hover
{
    color:#FA6F5D;
}

.form-control:focus {
    border-color: #12E1FC;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}
.nav {
    padding: 5px;
    margin-bottom: 0px;
    list-style: outside none none;
}
.navbar-header {
    float: left;
    padding: 5px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    padding: 5px;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #000;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #12E1FC;
    text-decoration: none;
    background-color:#0393A6;
}


.input-sm, .form-group-sm .form-control {
    height: 30px !important;
    padding: 5px 10px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
}



.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    font-size: 14px;
    text-align: left;
    list-style: outside none none;
    background-color: #0393A6;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #0393A6;
}
.btn-success {
    color: black;
    background-color: #0393A6;
    border-color: #0393A6;
}
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #FFF;
    background-color: black;
    border-color: #398439;
}